AnchorPane{
       -fx-background-color:white;
}
.tab-pane .tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: GREEN;
    -fx-font-size: 14px;
}
.tab-pane .tab:selected .tab-label
{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.tab-pane .tab:selected .tab-label
{
	-fx-border-color: WHITE;
}
.combo-box{
    -fx-border-width: 0.5px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-font-size: 12px; 
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.choice-box{
    -fx-border-width: 0.5px;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-padding: 0px;
}
.text-field{
	-fx-border-color: black;
}
.label{
	-fx-font-family: 'Verdana',Verdana;
	-fx-font-style: italic ;
	-fx-font-size: 12px ;
	-fx-font-weight: bold;
}