.table-row-cell {
    -fx-background-color: rgb(253,219,251);
}
.table-row-cell:selected {
    -fx-background-color: linear-gradient(#95caff 0%, #77acff 90%, #e0e0e0 90%);
}
AnchorPane{
    -fx-background-color:white;
    -fx-dark-text-color: navy;
    -fx-mid-text-color: blue;
    -fx-light-text-color: lightskyblue;
}
.tab-pane .tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-fill: #11d30b;
    -fx-font-size: 14px;
}
.tab-pane .tab:selected .tab-label
{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.tab-pane .tab:selected .tab-label
{
	-fx-border-color: WHITE;
}
.combo-box{
    -fx-border-width: 0.5px;
    -fx-border-color: Orange;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-font-size: 12px; 
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.choice-box{
    -fx-border-width: 0.5px;
    -fx-border-color: Orange;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-padding: 0px;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgb(204,255,255);
}
.choice-box .menu-item:focused { 
	-fx-background-color: rgb(204,255,255);
}
.text-field{
	-fx-border-color: ORANGE;
}
.label{
	-fx-font-family: 'Verdana',Verdana;
	-fx-font-style: italic ;
	-fx-font-size: 12px ;
	-fx-font-weight: bold;
}
.text{
	-fx-font-family: 'Helvetica',Helvetica;
	-fx-font-style: italic ;
	-fx-font-size: 12px ;
	-fx-font-weight: bold;
}